# Visual Studio results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


# Visual Studio 2015/2017 cache/options directory
.vs/


# Visual Studio User files
*.user

# Python - Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Quita archivos externos
external/*
!external/download.*
